@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

:root{
    --main-font: 'Hubballi', cursive;
    --main-yellow: #FFED00;
}
body{
    font-family: var(--main-font); 
    /* background-color: #242628; */
    background-image: url(https://wallpaperaccess.com/full/1775592.jpg);
    backdrop-filter: blur(3px);
    background-size: cover;
    background-position: center;
}

/* HEADER */


/* Logo i nazwa */
#HeaderNav{
    max-width: 100vw;
    max-height: 12vh;
    display: flex;
    justify-content: space-between;
}

#HeaderNav-banner{
    margin-left: 30px;
    min-width: 350px;
    display: flex;
}


#HeaderNav-foldMenu{
    min-width: 50px; 
    padding-top: 35px; 
}

#HeaderNav-logo{ 
    padding: 10px;
    min-width: 300px;
    text-align: center;
}

#HeaderNav-logo img{
    height: 95px;
    width: 105px;
    float: right;
}

#HeaderNav-logo a{
    color: #fff;
    text-decoration: none;
    font-size: 3.3rem;
}


/* Logo i nazwa */


/* Hamburger */
#check_box{
    top: 35px;
    left: 35px;
    position: absolute;
}

.hamburger {
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    margin: 0;
}

.hamburger, .navigation {
    transition: transform .3s .1s ease-in-out;
}

.hamburger_box {
    width: 35px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger_inner {
    width: 100%;
    height: 2px;
    background-color: var(--main-yellow);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .1s .2s ease-in-out;
    z-index: 1;
}

.hamburger_inner::before,
.hamburger_inner::after {
    width: 100%;
    height: 2px;
    background-color: var(--main-yellow);
    position: absolute;
    content: '';
    left: 0;
    transition: transform .2s .2s ease-in-out, background-color .2s .2s ease-in-out;

} 

.hamburger_inner::before {
    top: -15px;
}

.hamburger_inner::after {
    top: 15px;
}

.hamburger--active .hamburger_inner {
    background-color: transparent;
}

.hamburger--active .hamburger_inner:before {
    transform: translateY(15px) rotate(45deg);
    background-color: #000;
}

.hamburger--active .hamburger_inner:after {
    transform: translateY(-15px) rotate(-45deg);
    background-color: #000;
}


.navigation {
    height: 100vh;
    width: 265px;
    background-color: var(--main-yellow);
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-265px);
}

.navigation--active {
    transform: translateX(0px);
}

  
.navigation_list {
    list-style: none;
    margin: 85px 0px 0px 45px;
}
  

.navigation_item{
    margin-bottom: 20px;
    display: flex;
    line-height: 35px;

}

.navigation_item a{
    text-decoration: none;
    color: #242628;
    font-size: 1.7rem;
}

.navigation_item a:hover{
    color: #000;
}
/* Hamburger */


/* Przyciski od Logowania */
#HeaderNav-buttons{
    position: relative;
    min-width: 220px;
    display: flex;
    align-items: center;
}

#HeaderNav-login{
    width: 160px;
    height: 55px;
    text-align: center;
}

#Login-loginBtn{
    width: 160px;
    height: 55px;
    border: 0;
    border-radius: 20px; 
    font-size: 1.5rem;
    font-family: var(--main-font) 
}

#Login-loginBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-yellow);
}

#Login-loginBtn:hover{
    cursor: pointer;
}

#Login-loginBtn:active{
    background-color: #e6d400;
}


#Login-loginIcon{
    color: #242428;
}
/* Przyciski od Logowania */


/* DropMenu */
.HeaderNav-dropLogin{
    display: none;
    margin-left: -180px;
    background-color: #424446;
    margin-top: 20px;
    min-width: 340px;
    padding: 20px;
    border-radius: 5px;
}


.DropLogin-loginInput{
    font-family: var(--main-font);
    font-size: 1.2rem;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 0;  
}
  
#DropLogin-after{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

#DropLogin-after::after{
    position: absolute;
    content: "";
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #424446;
    top: -144px;
    left: 80%;
    transform: translate(-50%, 0);

}

#DropLogin-Password a{
    font-size: 1rem;
    color: var(--main-yellow);
    text-decoration: none;
}

#DropLogin-loginBtn{
    background-color: var(--main-yellow);
    font-family: var(--main-font);
    width: 130px;
    height: 40px;
    border: 0;
    border-radius: 10px; 
    font-size: 1.3rem;
}

.show {
    display:block;
}

.DropLogin-loginInput:focus{
    outline: none;
}

.DropLogin-loginInput::placeholder{
    text-align: center;
}

#DropLogin-loginBtn:hover{
    cursor: pointer;
}

#DropLogin-loginBtn:active{
    background-color: #e6d400;
}
/* DropMenu */


/* HEADER */

/* REGISTER */
#RegisterArea{
    max-width: 100vw;
    max-height: 84vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#Register-form{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 30px 50px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
}


#SignIn{
    color: #fff;
    font-size: 3rem;
    text-align: left;
}

.InputField{
    font-family: var(--main-font);
    color: rgba(255, 255, 255, 0.9);
    height: 40px;
    width: 450px;
    font-size: 1.5rem;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.InputField::placeholder{
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.8);

}

#SignIn{
    color: #fff;
    font-size: 3rem;
    text-align: left;
}


/* CAPTCHA */
#RegisterCaptcha{
    background-color: blue;
    height: 100px;
    width: 450px;
}
/* CAPTCHA */


#RegisterCheckBox{
    color: rgba(255, 255, 255, 0.6);
    width: 450px;
    font-size: 1.2rem;
}

#RegisterCheckBox a{
    text-decoration: none;
    color: #fff;
}

#CheckBoxInput{
    display: inline;
    width: 18px;
    height: 18px;
}

#BtnInput{
    background-color: #FFED00;
    width: 100%;
    height: 50px;
    font-size: 1.7rem;
    text-align: center;
    border: none;
    border-radius: 10px;
}

#BtnInput:active{
    background-color: #e6d400;
}
#BtnInput:hover{
    cursor: pointer;
}

.RegEx-check{
    color: rgba(255, 255, 255, 0.9);
    font-size: 1rem;
    display: block;
    padding-top: 5px;
}
/* REGISTER */