@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

:root{
    --main-font: 'Hubballi', cursive;
    --main-yellow: #FFED00;
}
body{
    /* background-color: #242428; */
    font-family: var(--main-font); 
    overflow-x: hidden;
}

/* HEADER */
/* Logo i nazwa */
#HeaderNav{
    background-color: #242628;
    width: 100vw;
    height: 11vh;
    display: flex;
    justify-content: space-between;
}

#HeaderNav-banner{
    margin-left: 30px;
    width: 350px;
    display: flex;
}


#HeaderNav-foldMenu{
    width: 100px; 
    padding-top: 35px;
    
}

#HeaderNav-logo{ 
    font-size: 3rem;
    padding: 10px;
    width: 300px;
    text-align: center;
}

#Logo-img{
    height: 95px;
    width: 105px;
    float: right;
}



#HeaderNav-logo > a{
    text-decoration: none;
    color: #fff;
}
/* Logo i nazwa */


/* Przyciski od Logowania */
#HeaderNav-buttons{
    position: relative;
    width: 400px;
    display: flex;
    align-items: center;
    gap: 20px;
    
}

#HeaderNav-login, #HeaderNav-register{
    width: 160px;
    height: 50px;
    text-align: center;
}

#Login-loginBtn, #Register-registerBtn{
    width: 160px;
    height: 50px;
    border: 0;
    border-radius: 15px; 
    font-size: 1.5rem;
    font-weight: 500; 
    font-family: var(--main-font) 
}

#Login-loginBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-yellow);
}

#Register-registerBtn{
    background-color: #FFFFFF;
}

#Login-loginBtn, #Register-registerBtn:hover{
    cursor: pointer;
}

#Login-loginBtn:active{
    background-color: #e6d400;
}

#Register-registerBtn:active{
    background-color: #e5e5e5;
}

#Login-loginIcon{
    color: #242428;
}
/* Przyciski od Logowania */


/* DropMenu */
.HeaderNav-dropLogin{
    display: none;
    background-color: #424446;
    margin-top: 20px;
    width: 340px;
    padding: 20px;
    border-radius: 5px;
}


.DropLogin-loginInput{
    font-family: var(--main-font);
    font-size: 1.2rem;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 0;  
}
  
#DropLogin-after{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

#DropLogin-after::after{
    position: absolute;
    content: "";
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #424446;
    top: -144px;
    left: 20%;
    transform: translate(-50%, 0);

}

#DropLogin-Password a{
    font-size: 1rem;
    color: var(--main-yellow);
    text-decoration: none;
}

#DropLogin-loginBtn{
    background-color: var(--main-yellow);
    font-family: var(--main-font);
    width: 120px;
    height: 35px;
    border: 0;
    border-radius: 10px; 
    font-size: 1.3rem;
    font-weight: 500;
}

.show {
    display:block;
}

.DropLogin-loginInput:focus{
    outline: none;
}

.DropLogin-loginInput::placeholder{
    text-align: center;
}

#DropLogin-loginBtn:hover{
    cursor: pointer;
}

#DropLogin-loginBtn:active{
    background-color: #e6d400;
}
/* DropMenu */



#burger {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    right: 1rem;
    top: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto;
      
}

#burger > div {
    height: 2px;
    background-color: var(--main-yellow);
    transition: 0.5s;
}

#drop_menu {
    display: none;
}

#drop_menu:checked ~ #burger > div:nth-child(1) {
    transform: translateY(15px) rotate(45deg);
}
#drop_menu:checked ~ #burger > div:nth-child(2) {
    opacity: 0;
    transition: 0,10s;
}
#drop_menu:checked ~ #burger > div:nth-child(3) {
    transform: translateY(-15px) rotate(-45deg);
}





/* HEADER */

/* Dostawa */
#SiteSection-top{
    background-color: #242628;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 89vh;
}

#SiteSection-delivery{
    width: 890px;
    padding: 10px;
    margin-left: 50px;
    color: #fff;
    font-size: 2.5rem;
}

#SiteSection-deliveryInput{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#Delivery-adressInput, #Delivery-dateInput, #Delivery-orderButton{
    font-family: var(--main-font);
    font-size: 1.5rem;
    padding: 10px;
    border: 0;
}

#Delivery-adressInput{
    width: 500px;
    padding-left: 35px;
}

#Delivery-dateInput{
    width: 235px;
    padding-left: 50px;
}

#Delivery-orderButton{
    width: 110px;
    background-color: var(--main-yellow);
}

#Delivery-adressInput, #Delivery-dateInput:focus{
    outline: none;
}

.icon-marker{
    position: absolute;
    color: #000;
    margin: 3px 5px;
}

.icon-calendar{
    position: absolute;
    color: #000;
    margin: 1px 0px 1px 517px;
}






























/* Dostawa */